.footer {
    background-color: #F6F1F1;
    height: 200px;
    padding: 3% 15%;
    text-align: center;
    margin-top: 775px;
}

.social-icon {
    margin: 5%;
}

.l{
    margin: 2%;
}